/* CSS for HomePage - products.css */
.homepage-container {
    font-family: Arial, sans-serif;
    /* Your choice of font here */
}

.header {
    text-align: center;
    font-size: 24px;
    padding: 20px 0;
}

.products-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Isso distribuirá o espaço uniformemente entre os itens e ao redor deles */
    align-items: stretch; /* Para garantir que todos os itens se estiquem igualmente */
    gap: 20px; /* Isso adiciona espaço entre os itens */
    padding: 20px;
}
.product-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    margin: 0; /* Se você tem um gap, pode não precisar de margem */
    padding: 5px;
    flex: 1; /* Isso permite que os itens cresçam e ocupem o espaço disponível */
    min-width: calc(20% - 20px); /* Isso garante que a largura mínima seja mantida */
    height: auto; /* Altura automática para manter proporção */
    /* Restante do seu CSS */
}



.product-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    object-fit: contain;
    /* Para manter as proporções sem esticar */
    height: 150px;
    /* Fixar uma altura para padronizar */
    display: block;
}

.product-details {
    font-size: 12px; /* Reduzindo o tamanho da fonte para se ajustar aos minicards */
    padding: 5px; /* Preenchimento reduzido */
    font-weight: bold;
}

.product-details p {
    /* ... */
}

.product-details h2 {
    font-size: 14px;
    margin: 0;
    color: #333;
}

.product-details p .product-price, .product-store {
    font-size: 12px; /* Reduce to fit the smaller card size */
    color: #666;
    margin: 5px 0;
}

.product-details .product-price {
    font-size: 24px; /* Ajuste este valor conforme necessário para combinar com a imagem */
    color: #666;
    margin: 5px 0;
    font-weight: bold; /* Normalmente o preço é em negrito para destacar */
}

.product-details .product-store {
    font-size: 16px; /* Aumente o tamanho da fonte conforme necessário */
    /* Outras propriedades de estilo, se necessário */
}

.product-actions {
    text-align: right;
    padding-top: 10px;
}

.product-actions span {
    cursor: pointer;
    margin-left: 10px;
}

.product-actions span {
    /* ... */
    font-size: 1rem; /* Adjust icon sizes as needed */
    /* Ícones maiores */
    color: #4CAF50;
    /* Cor para ação positiva como adicionar ao carrinho */
}

.product-actions .favorite {
    color: #F44336;
    /* Cor para indicar ação de favoritar */
}

.product-actions span {
    /* ... */
    transition: color 0.3s;
}

.product-item .free-shipping {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4CAF50; /* Or any color you wish */
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 0 4px 4px 0; /* Rounded on the bottom right corner */
}

.product-actions span:hover {
    color: #333;
    /* Mudança de cor ao passar o mouse */
}
/* Media Query para responsividade */
/* Media Queries para ajustar layout em diferentes tamanhos de tela, se necessário */
/* Ajuste as media queries se necessário */
@media (max-width: 1024px) {
    .product-item {
        min-width: calc(33.333% - 20px); /* 3 itens por linha em telas menores */
    }
}

@media (max-width: 768px) {
    .product-item {
        min-width: calc(50% - 20px); /* 2 itens por linha em telas de tablet */
    }
}

@media (max-width: 480px) {
    .product-item {
        min-width: 100%; /* 1 item por linha em telas de celular */
    }
}